body{
  margin-bottom: 5%;
}

h1.title{
  color: white;
  -webkit-text-stroke: 2px;
  /*-webkit-text-stroke-color: black;*/
}
.info{
  background-color: aliceblue;
  opacity: 0.8;
  width: 100%;
  height: 600px;
}

.subtitle{
  background-color: aliceblue;
}

img.first{
  width: 40%;
}

div.uniq{
  /*background-image: url("paper.jfif");*/
  background-size: auto;
  position: absolute;
  left: 10%;
}
p.parag2{
  text-indent: 2em;
  font-size: large;
  padding: 20px;
}

div.par{
  position: absolute;

  right:5%;
}

footer{
  left: 20%; 
  margin-top: 2%;
  width: 50%;
  margin-left: 5%;
}

div.end1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: antiquewhite;
}

img.info{
  margin-top: 17%;
  margin-left: 10%;
}


p.parag{
  text-indent: 3em;
  font-size:large;
  padding: 10px;
}
.sub{
  text-align: center;
  background:transparent;
  opacity: 0.7;
	margin:0 auto; 
	width:100%; 
	height:30px; 
  padding:0px;
  position: relative;
}
a.subtitle{
  color: #000;
  height:auto;
  width: auto;
  padding: 20px;
  font-weight: bold;
  font-size: 130%
}