body{
  margin-bottom: 5%;
}

h1.title{
  color: darkgray;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
}

.subtitle{
  background-color: aliceblue;
}

img.first{
  width: 40%;
}

div.uniq{
  background-image: url("paper.jfif");
  background-size: auto;
  position: absolute;
  left: 10%;
}

div.par{
  position: absolute;
  left: 45%;
  right:5%;
}


p{
  text-indent: 2em;
}