
.content{ 
    background: transparent; 
    width:100%; 
    height:730px; 
    margin:0 auto; 
    opacity: 0.9;
}
.contentnews{ 
    background:transparent; 
    width:auto; 
    height:360px; 
    padding-top: 1%; 
    opacity: 0.95;
}
.smallspace{ 
    background:transparent; 
    width:9%; 
    height:290px; 
    float:left; 
    border:2px solid rgb(0, 255, 157); 
    padding: 2px; 
    opacity: 0; 
    margin: 2px;
}
.midspace{ 
    background:gainsboro; 
    width:34%; 
    height:330px; 
    float:left; 
    border-radius: 10px; 
    border:3px solid white; 
    padding: 2px; 
    margin: 2px; 
    opacity: 1;
}
.space{ 
    background:transparent; 
    width:auto; 
    height:10px; 
    margin:0 auto; 
    opacity: 0.2;
}
.blank{ 
    background:transparent; 
    margin:0 auto; 
    width:100%; 
    height:40px; 
    text-align: center; 
    top: 3px 
}

.news-picture .news-picture2 .news-picture3 .news-picture4{
    background: ghostwhite;
    width:auto; 
    height:265px; 
    margin: 2px; 
    padding: 2px;
}
.news-title .news-title2 .news-title3 .news-title4{
    background: transparent; 
    width:auto; 
    height:25px; 
    margin: 2px; 
    padding: 2px; 
    opacity:0.9;
}
.news-url .news-url2 .news-url3 .news-url4{
    background: transparent; 
    width:auto; 
    height:20px; 
    margin: 2px; 
    padding: 2px;
    opacity: 0.9;
}
news-font{
    font-size: large;
}
large{
    color:white;
    font-weight:bold;
    font-size: 310%;
}
.news-picture img {
    alt:"news-picture";
    width: 100%;
    height: 100%;
}
.news-picture2 img {
    alt:"news-picture";
    width: 100%;
    height: 100%;
}
.news-picture3 img {
    alt:"news-picture";
    width: 100%;
    height: 100%;
}
.news-picture4 img {
    alt:"news-picture";
    width: 100%;
    height: 100%;
}