
body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	margin:0; 
	padding:0;
	background:url('https://unsplash.it/1600/900?random');  /*picture API*/
}
.navbar{ 
	background:#5a5151; 
	width:auto; 
	height:50px; 
	margin:0; 
	opacity:0.7;
}
/*content*/
.content{ 
	background: transparent; 
	width:100%; 
	height:730px; 
	margin:0 auto; 
}
/*clock part*/
.contentclock{ 
	background:transparent; 
	width:auto; 
	height:310px; 
	padding-top: 1%;
}
.leftspace{ 
	background:transparent; 
	width:24%; 
	height:300px; 
	float:left; 
	border:2px solid transparent; 
	padding: 2px; 
	opacity: 0.2; 
	margin: 2px;
}
.clock{ 
	background:transparent; 
	width:49%; 
	height:290px; 
	float:left; 
	border-radius: 25px; 
	border:6px solid white; 
	padding: 2px; 
	margin: 2px; 
	opacity: 1;
}
.rightspace{ 
	background:transparent; 
	width:24%; height:300px; 
	float: left; 
	border:2px solid transparent; 
	padding: 2px; 
	opacity: 0.2; 
	margin: 2px;
}
/*other part*/
.space{ 
	background:transparent; 
	width:auto; 
	height:autopx; 
	margin:0 auto; 
	opacity: 0.7;
}
.blank{ 
	background:transparent;
	margin:0 auto; 
	width:100%; 
	height:150px; 
	padding:0px;
}	
.contenttwo{ 
	background:#ffffff; width:auto; height:320px; margin:0 auto} /*not use now*/
/*footer*/
.footer{ 
	background:transparent; 
	width:100%; 
	height:80px; 
	margin:0 auto
}
/*TIME*/
.time{
	font-size:6.2cm;
	font-family:sans-serif;
	font-weight:bold; 
	text-align:center; 
	color: white;
}
/*COUNTDOWN*/
.countdown{
	font-size:2.2cm;
	font-family:sans-serif;
	font-weight:bold; 
	text-align:center; 
	color: white;
}
/*navbar*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
}
.navbar li {
    float: right;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
.navbar li a:hover{
    background-color: #111;
}
/*refresh box*/
.refresh-box{
	position:absolute;  
	left:0.8%;
	background: #2f3640; 
	height:33px; 
	top: 0.8%;
	border-radius: 0px 40px 40px 40px;
	padding: 2px;
}
.refresh-box:hover>.refresh-txt{
	width:220px;
	padding: 0 6px;
	color: white;
}
.refresh-btn:hover{
	color:black;
	background: gainsboro;
}
.refresh-btn{  /*change background picture*/
	color:white;
	float:left; 
	width:33px;
	height: 33px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: 1s;
}
.refresh-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color:transparent;
	padding-left: 0px;
	font-size: 16px;
	transition:0/4s ;
	line-height: 33px;
	width: 0px;
}